<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <title>Assign viva schedule</title>
    <style>
      body {
        font-family: 'lato','Arial', 'Helvetica', 'sans-serif';
      }

      input {
        font-family: 'Arial', 'Helvetica', 'sans-serif';
      }

      a {
        text-decoration: none;
        color: #000;
      }
      .form-row {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
      }

      .form-row label {
          flex: 1 1 100px; /* Adjust label width */
          margin-right: 10px;
      }

      .form-row input {
          flex: 1 1 calc(60%); /* Adjust input width */
          padding: 8px;
          margin-right: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-top: 1px;
      }

      .centered-heading {
        text-align: center;
        font-family: 'lato';
      }

      #data_table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      #data_table td, #data_table th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      #data_table tr:nth-child(even){background-color: #f2f2f2;}

      #data_table tr:hover {background-color: #ddd;}

      #data_table th {
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: left;
        background-color: #337ab7;
        color: white;
      }
      #table-container {
      max-height: 300px; /* Set the desired height for the scrollable area */
      overflow: auto;
      margin-top: -10px;
      }
      #data_table thead {
      position: sticky;
      top: 0;
      background-color: #337ab7;
      color: white;
      }
      .submit{
        cursor: pointer;
        margin-top: 3px;
        
        font-weight: bold;
      }
      #student_id{
        outline: none; /* Remove default outline on all rows */
        background-color: #ececec;
      }
    </style>
    
  </head>
  <body>
    <div>
      <h3 class="centered-heading">Confirm Payment / Assign Room</h3>
    </div>
    <form id = "viva_form" action="/auth/assign_room" method="POST">
      <div class="form-row">
        
        <input type="text" id="student_id" name="student_id" value="<%= student_id%>" readonly>
        <label for="student_id">Student ID</label>

        <input type="date" id="ad_fee_payment_date" name="ad_fee_payment_date" required>
        <label for="ad_fee_payment_date">Payment Date</label>

        <input type="number" id="ad_fee_amount" name="ad_fee_amount" value="2000" required>
        <label for="ad_fee_amount">Payment Amount (tk)</label>

        
        <input type="number" id="ad_fee_slip_number" name="ad_fee_slip_number"  required>
        <label for="ad_fee_slip_number">Bank Slip Number</label>

        
        <input type="number" id="room_id" name="room_id" required>
        <label for="room_id">Room Number</label>

        <input type="submit" class='submit'value="Submit">
    </div>    
    </form>

    <!-- room list -->
    <div id="table-container">
    <table id="data_table">
      <thead>
        <tr>
          <th>Room Number</th>
          <th>Floor</th>
          <th>Block</th>
          <th>Seats Availabe</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(row => { %>
          <tr id="room-<%= row.room_id %>">
            <td><%= row.room_id %></td>
            <td><%= row.floor_number %></td>
            <td><%= row.block_number %></td>
            <td><%= row.capacity - row.occupancy_status %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    </div>
    <script>
      const tableRows = document.querySelectorAll('tr[id^=room-]');
      for (const row of tableRows) {
        row.addEventListener('click', (event) => {
          const roomId = event.currentTarget.id.split('-')[1];
          document.getElementById('room_id').value = roomId;
        });

        row.addEventListener('keydown', (event) => {
          if (event.key === 'Enter') {
            const roomId = event.currentTarget.id.split('-')[1];
            document.getElementById('room_id').value = roomId;
          }
        });
      }

    </script>
  </body>
</html>
